.sidenav {height:100%; width:0; position:fixed; overflow:hidden; z-index:1; top:0; left:0;
          background-color:#111; overflow-x:hidden; transition: 0.5s;}
.sidenav a {padding: 8px 8px 8px 32px; text-decoration: none; font-size: 40px;
    color: #818181; display: block; transition: 0.3s}

.sidenav a:hover, .offcanvas a:focus{color: #f1f1f1;}

.closebtn {position:absolute; top:0; right:25px; font-size:60px !important; margin-left:50px;}

@media screen and (max-width: 576px) {/*xs~*/
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}}
@media screen and (min-width: 576px) and (max-width:768px) {/*sm, sm~md, md*/   /*!!!*/
  .sidenav {padding-top: 25px;}
  .sidenav a {font-size: 25px;}}
@media screen and (min-width: 768px) {/*~xl*/
  .sidenav {padding-top: 50px;}
  .sidenav a {font-size: 50px;}}
