<script type="text/javascript">
{% if user.is_staff %}
//------------------------------------------------------------------------------
//   | color     | fas eye | fas edit                              |
//   |           | b -> w  | add function        | sync function   |
//:--|:----------|:--------|:--------------------|:----------------|
// e | main_color|         |         and add     | remove          |
// d | edit_color| remove  | to main             | remove          |
// t | eyes_color| remove  | remove              | remove          |
//
// e | main_color|         | remove  and     sync| remove and sync |
// y | edit_color| remove  | to eyes and     sync| remove and sync |
// e | eyes_color|         | remove  and add,sync| remove and sync |
//------------------------------------------------------------------------------
{% endif %}
/* ------------------------------global------------------------------*/
var delayTimer;
{% for note in object_list %}
/* ----------process---------- */
/*var*/
var post_{{note.id}};
var path_{{note.id}};
/*function*/
var new_path_{{note.id}};
var get_path_{{note.id}};
/*ajax*/
var success_{{note.id}};
var background_{{note.id}};
var paper_sync_{{note.id}};
var paper_add_{{note.id}};
/* ----------button---------- */
var paper_eye_{{note.id}};
var paper_edit_{{note.id}};
var is_eye_{{note.id}}  = false;
var is_edit_{{note.id}} = false;
var edit_color{{note.id}} ='{%if note.posted_user == user%}rgba(23,23,23,0.75){%else%}rgba(255,255,255,0.75){%endif%}';
{% endfor %}
var debug = true;
var main_color ='rgba(46,46,46,0.75)';
var none_color ='rgba(46,46,46,0)';
var eyes_color ='rgba(255,255,255,1)';
var csrftoken  = '{{csrf_token}}';

function isEmpty(val){/*[ref](https://qiita.com/Quantum/items/ebf6ed48e55692182d85)*/
    if ( !val ) {//null or undefined or ''(空文字) or 0 or false
        if ( val !== 0 && val !== false ) {
            return true;
        }
    }else if( typeof val == "object"){//array or object
        return Object.keys(val).length === 0;
    }
    return false;//値は空ではない
}
paper.install(window);
/* ------------------------------onload------------------------------*/
window.onload = function(){
var paper_msg_data = function(note_id){
    return {
        'id'    :note_id,
        'la'    :'ja',
        'url'   :"{% url 'note_list_ajax' %}",
        'user'  :{% if user and user.id %}'{{user.id}}'{%else%}''{%endif%},
    };
}
function paper_json_data(note_id, paper_, func, mode='json'){
    data = paper_msg_data(note_id);
    data['json'] = mode;
    if (mode=='json') {
        json=JSON.parse(paper_.project.exportJSON());
        segs=[];
        for (c of json[0][1]['children']){
            if(c[1].segments){segs.push(c[1].segments);};
        }
        data['json'] = JSON.stringify({'segs':segs});
    }
    data['mode'] = 'paper';//$("#id_update_text").val()},
    clearTimeout(delayTimer);
    delayTimer = setTimeout(function(){
        $.ajax({
            url     : data['url'],//"{% url 'note_list_ajax' %}",
            headers :{'X-CSRFToken': csrftoken },//[ref](https://jpn.itlibra.com/article?id=20974)
            dataType: 'json',
            data    :  data ,
            dataType: 'json',
            success : function(d){func(d)},
            timeout :3000,//https://qiita.com/hanaita0102/items/9e2f7984ecb71440c322
        });
    }, {%if user.is_staff%}3000{%else%}3000{%endif%});
    return false;
}
/* ------------------------------any------------------------------*/
{% for note in object_list %}
/* ------------------------------ before process------------------------------ */
    p{{note.id}} = new paper.PaperScope();
    p{{note.id}}.setup(document.getElementById("myCanvas_{{note.id}}"));//空のproject,viewを作成
    t{{note.id}} = new p{{note.id}}.Tool();
    new_path_{{note.id}} = function (seg, color){
        path_{{note.id}} = new p{{note.id}}.Path({
        		segments   :    seg,
        		strokeColor:  color,
            opacity    :    0.5,
            strokeWidth:      5,
            selected   :  false,
            strokeCap  : 'round',
        });
    };
    get_path_{{note.id}} = function(color){
        return p{{note.id}}.project.getItems({type:'path',strokeColor:color});
    };
/* ------------------------------ paper process------------------------------ */
    paper_sync_{{note.id}} = function(){
        {%if user.is_staff%}console.log('paper_sync_{{note.id}}'){%endif%}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:edit_color{{note.id}}})){path.remove();}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:eyes_color})){path.remove();}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:main_color})){path.remove();}
        {%if not note.posted_user == user%}
        paper_json_data('{{note.id}}', p{{note.id}}, success_{{note.id}}, 'eyes');
        {%endif%}
    };
    paper_add_{{note.id}} = function(){
        {%if user.is_staff%}console.log('paper_add_{{note.id}}'){%endif%}
        path_{{note.id}}.fullySelected = false;
        {% if not user == note.posted_user %}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:main_color})){path.remove();}{%endif%}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:eyes_color})){path.remove();}
        for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:edit_color{{note.id}}})){
            path.strokeColor={%if note.posted_user == user%}main_color{%else%}eyes_color{%endif%}
        }
        paper_json_data('{{note.id}}', p{{note.id}}, success_{{note.id}}, 'json');
    }
    paper_eye_{{note.id}}= function(){
        {%if user.is_staff%}console.log('paper_edye_{{note.id}}');{%endif%}
        if (is_eye_{{note.id}} == true){ // black to white
            {% if user == note.user %}
            for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:eyes_color})){path.remove();}{%endif%}
            for(path of p{{note.id}}.project.getItems({type:'path',strokeColor:edit_color{{note.id}}})){path.remove();}
            is_eye_{{note.id}}  = false;
            is_edit_{{note.id}} = false;
            background_{{note.id}}.fillColor=none_color;
            $('#info_eye_{{note.id}}').children('h6').children('i').attr("class", "far fa-eye");
            $('#info_edit_{{note.id}}').children('h6').children('i').attr("class", "far fa-edit");
            {%if not user == note.posted_user%}$('#myCanvas_{{note.id}}').attr('mode','eyes'){%endif%}
        }
        else {// white to black
            is_eye_{{note.id}} = true;
            background_{{note.id}}.fillColor=main_color;
            $('#info_eye_{{note.id}}').children('h6').children('i').attr("class", "fas fa-eye");
            {%if not user == note.posted_user%}$('#myCanvas_{{note.id}}').attr('mode','edit'){%endif%}
        };
    };
    paper_edit_{{note.id}} = function(){
        {%if user.is_staff%}console.log('paper_edit_{{note.id}}');{%endif%}
        if (is_edit_{{note.id}} == true){//big to small
            is_eye_{{note.id}}  = false;
            is_edit_{{note.id}} = false;
            background_{{note.id}}.fillColor=none_color;
            paper_add_{{note.id}}();
            {%if not user == note.posted_user%}$('#myCanvas_{{note.id}}').attr('mode','eyes'){%endif%}
            $('#info_edit_{{note.id}}').children('h6').children('i').attr("class", "far fa-edit");
            $('#info_eye_{{note.id}}').children('h6').children('i').attr("class", "far fa-eye");
        }
        else { // small to big
            is_edit_{{note.id}} = true;
            paper_sync_{{note.id}}();
            $('#info_edit_{{note.id}}').children('h6').children('i').attr("class", "fas fa-edit");
        }
    };
    success_{{note.id}} = function (d){
        {%if user.is_staff%}console.log('success_{{note.id}}');{%endif%}
        if (!isEmpty(d['eyes'])){for(path of d['eyes']){new_path_{{note.id}}(path, eyes_color);}}
        if (!isEmpty(d['edit'])){for(path of d['edit']){new_path_{{note.id}}(path, main_color);}}
    }
/* ------------------------------ main process ------------------------------ */
    /*----------init----------*/
    background_{{note.id}} = new p{{note.id}}.Path.Rectangle(p{{note.id}}.view.bounds);
    init_json = {'eyes':{{note.get_eyes_paths}},'edit':{{note.get_edit_paths}}}
    {%if note.posted_user == user%}
    $('#myCanvas_{{note.id}}').attr('mode','edit')
    {%endif%}
    if (!isEmpty(init_json['eyes'])){for(path of init_json['eyes']){new_path_{{note.id}}(path, eyes_color);}}
    if (!isEmpty(init_json['edit'])){for(path of init_json['edit']){new_path_{{note.id}}(path, main_color);}}
    /*----------event----------*/
    t{{note.id}}.onMouseDown = function(event) {
        if (is_edit_{{note.id}}==false){
            is_edit_{{note.id}} = true;
            $('#info_edit_{{note.id}}').children('h6').children('i').attr("class", "fas fa-edit");
        }
      	if (path_{{note.id}}) {path_{{note.id}}.selected=false;};
        new_path_{{note.id}}([event.point], edit_color{{note.id}});
    }
    t{{note.id}}.onMouseDrag = function(event) {path_{{note.id}}.add(event.point)}
    t{{note.id}}.onMouseUp = function(event) {
      	path_{{note.id}}.simplify(10);
      	path_{{note.id}}.fullySelected = true;
    }
    /* ------------------------------------------------------ */
    p{{note.id}}.view.draw();
{% endfor %}
};
</script>
