<div class="col-sm-12 col-md-12 col-lg-{%if id%}12{%else%}6{%endif%}">
    <div class="card news-card" >
        <div class="embed-responsive embed-responsive-1by1"
          style="height:500px">
          <a href="#" class="stretched-link"></a>
        </div>
        <!--img src="https://source.unsplash.com/user/diegyms/300x200" alt="vitateach" /-->
        <div class="card-body">
        <hr>
        {% include "app_note/list/objects_body.html" %}
        </div>
    </div>
</div>
