{% if  user.is_authenticated %}
<div class="row">
    <div class="col-sm-6" >
        <button class="badge elegant-color-dark " style="width:100%"
          id="ret_send_{{note.id}}">Send</button>
        <div class="md-form form-sm black-textarea">
            <form method="POST">
            {% csrf_token %}
            <textarea type="text" id="ret_text_{{note.id}}" rows="25"
              class="md-textarea form-control"></textarea>
            <label for="ret_text_{{note.id}}">ここに記入</label>
            </form>
        </div>
    </div>
    <div class="col-sm-6" >
        <button class="badge elegant-color-dark " style="width:100%"
          id="ret_ratio_{{note.id}}">Copy</button>
        <div class="md-form form-sm black-textarea">
            <textarea type="text" id="ret_retja_{{note.id}}"  rows="3"
              class="md-textarea form-control"></textarea>
            <label for="ret_retja_{{note.id}}">結果</label>
        </div>
        <div class="md-form form-sm black-textarea">
            <textarea type="text" id="ret_reten_{{note.id}}"  rows="3"
              class="md-textarea form-control"></textarea>
            <label for="ret_reten_{{note.id}}">result</label>
        </div>
    </div>
</div>
{% else %}
<p>If you log in, you can use the real-time translation and text evaluation</p>
<a href="https://opencw.herokuapp.com/translate">
  <button class="btn btn-dark btn-sm">view demo</button></a>
<a href="{% url 'signup' %}">
  <button class="btn btn-dark btn-sm">Signup</button></a>
<a href="{% url 'login' %}">
  <button class="btn btn-dark btn-sm">login</button></a>
<a href="{% url 'social:begin' 'google-oauth2' %}">
  <button class="btn btn-dark btn-sm">Signup with Google</button></a>
{% endif %}
