{% for note in object_list %}
<div class="col-md-12 col-lg-8">
    <div class="card news-card">
        <div class="embed-responsive embed-responsive-1by1" style="height:
            {%if id%}{%if id_user == note.posted_user.id%}700px{%else%}
            {%if id == note.id%}700px{%else%}450px{%endif%}{%endif%}
            {%else%}450px{%endif%}">
            {% if not id%}
            <a href="{%url 'note'%}?{{note.url_with_id}}{{url_with_tag}}" class="stretched-link"></a>
            {% endif %}
            <iframe class="embed-responsive-item"
                src="{% url 'note_ja' pk=note.id %}"
                frameborder="0"
                id="iframe_{{note.id}}"
                sandbox="allow-scripts"
                height="100%"
                width="100%"
                name ="iframe_{{note.id}}"
                href="{%url 'note'%}?{{note.url_with_id}}{{url_with_tag}}"
                allowfullscreen></iframe>
        </div>
        <!--img src="https://source.unsplash.com/user/diegyms/300x200" alt="vitateach" /-->
        <div class="card-body">
        <div class="row">
            <div class="col-sm text-right"><h6>
              <i class="far fa-comment">{{note.reply_number}}</i></h6></div>
            <div class="col-sm text-right button" id="info_like_{{note.id}}"><h6>
              <i class="far fa-heart"></i>
            </h6></div>
            <div class="col-sm text-right"><h6>
              <i class="fas fa-external-link-alt"></i>
            </h6></div>
            {% if user.is_staff %}
            <div class="col-sm text-right"><h6>
              {{note.id}},{{note.get_chichild_id}}
            </h6></div>
            {% endif %}
        </div>
        <hr>
        {% include "app_note/list/objects_body.html" %}
        </div>
    </div>
</div>
{% endfor %}
