
{% if user.id is note.posted_user.id %}{% else %}
<a href="{%url 'note'%}?{{note.url_with_id}}"style="width:100%">
  <button class="badge elegant-color-dark" style="width:100%;font-size:25px">More</button></a>
<h6>
{% endif %}

{% if note.posted_tag %}{% for tag in note.posted_tag_list %}{% if tag %}
<a href="{%url 'note'%}?tag={{tag}};{{note.url_with_id}}">
  <span style="font-size:25px" class="badge elegant-color-dark">#{{ tag }}</span></a>
{% endif %}{% endfor %}{% else %}{% endif %}
</h6>

        {% for c1 in note.get_comment %}
        <div><a href="#id_{{c1.pk}}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" style="color:black">
        <i class="fas fa-comment"></i>{{c1.reply_number}}</a>
        <a href="{%url 'note'%}?{{c1.url_with_id}}{{url_with_tag}}" style="color:black">{{c1.posted_head}}
        <i class="fas fa-heart"></i>{{c1.liked_number}}</a>
            <ul class="collapse list-unstyled" id="id_{{c1.pk}}">
            {% if c1 %}{% for c2 in c1.get_comment %}{% if c2 %}
              <li><a href="{%url 'note'%}?{{c2.url_with_id}}{{url_with_tag}}" target="_blank" style="color:black">
                {{c2.posted_head}}
                <i class="fas fa-heart"  ></i>{{c2.liked_number}}</a></li>
            {% endif %}{% endfor %}{% endif %}
            </ul>
        </div>
        {% empty %}
        <a href="#"style="color:black"><i class="fas fa-comment"></i>No Reply</a>
        {% endfor %}
