.card{ position: relative; cursor: pointer; box-shadow:0 0 25px 0px rgba(0,0,0,.25);
       transition: 0.75s ; overflow:hidden}
/*.card       img{ width: 100%; border-radius: 16px; transition: .5s;}
.card:hover img{ border-radius: 25px 25px 0 0;}*/
.card .card-body div{ /*text-align: right;*/width: 100%;}
.card .card-body div a{ margin:0 0px; position: relative; text-decoration: none;
      color: #526ffd; padding: 0; text-align: center; z-index: 999; font-size: 25px;}
@media screen and (max-width: 576px) {/*xs~*/
  .card{border-radius:16px; margin:16px; height:{%if id%}700px{%else%}450px{%endif%};}
  .card:hover{ height:{%if id%}1000{%else%}500{%endif%}px;}
  .card .card-body   { padding:0rem 16px 16px; height:0   ; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px;   font-size:16px; }
  .card .card-body p { text-align: justify; font-size: 16px; line-height:16px;}
  .card .embed-responsive      { border-radius:25px;transition: 0.5s;
                                 height:{%if id%}750{%else%}450{%endif%}px}
}
@media screen and (min-width: 576px) and (max-width:768px) {/*sm, sm~md, md*/
  .card{border-radius:20px; margin:20px;
        height:{%if id%}750px{%else%}500px{%endif%};}
  .card:hover{ height:{%if id%}1000{%else%}750{%endif%}px;}
  .card .card-body   { padding:0rem 20px 20px; height:0   ; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px; font-size:20px;}
  .card .card-body p { text-align: justify; font-size: 20px; line-height: 20px;}
  .card .embed-responsive      { border-radius:25px;transition: 0.5s;
                                 height:{%if id%}700{%else%}450{%endif%}px}
  .card .embed-responsive:hover{ height:{%if id%}680{%else%}450{%endif%}px}
}
@media screen and (min-width: 768px) {/*~xl*/
  .card{border-radius:25px; margin:25px;
        width: {%if id%}750px{%else%}500px{%endif%};
        height:{%if id%}750px{%else%}500px{%endif%};}
  .card:hover{ height:{%if id%}1000{%else%}750{%endif%}px;}
  .card .card-body   { padding:0rem 25px 25px; height:0   ; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px; font-size:25px; }
  .card .card-body p { text-align: justify; font-size: 25px; line-height:25px;}
  .card .embed-responsive      { border-radius:25px;transition: 0.5s;
                                 height:{%if id%}700{%else%}450{%endif%}px}
  .card .embed-responsive:hover{ height:{%if id%}750{%else%}450{%endif%}px}
}
