{% for note in object_list %}
<div class="{%if id%}col-lg-12{%else%}col-lg-6{%endif%}">
    <div class="card news-card"
    note-replied-num="{{note.get_child_num}}" note-liked-num="{{note.liked_num}}"
    mode="{%if id == note.id or id == note.note_object.id%}posted{%else%}replied{%endif%}">
        <div class="embed-responsive embed-responsive-1by1">
            {% if not id%}
            <a href="{%url 'note'%}?{{note.url_with_id}}{{url_with_tag}}" class="stretched-link"></a>
            {% endif %}
            <iframe class="embed-responsive-item"
                src="{% url 'note_ja' pk=note.id %}"
                frameborder="0"
                id="iframe_{{note.id}}"
                sandbox="allow-scripts"
                height="100%"
                width="100%"
                name ="iframe_{{note.id}}"
                href="{%url 'note'%}?{{note.url_with_id}}{{url_with_tag}}"
                allowfullscreen></iframe>
            <canvas class="myCanvas"
                mode={%if note.posted_user == user%}"edit"{%else%}"eyes"{%endif%}
                id="myCanvas_{{note.id}}" resize></canvas>
        </div>
        <!--img src="https://source.unsplash.com/user/diegyms/300x200" alt="vitateach" /-->
        <div class="card-body">
        <div class="row">
            <div class="col text-center"><h6>
              <i class="far fa-comment">{{note.get_child_num}}</i></h6></div>
            <div class="col text-center button" id="info_like_{{note.id}}"><h6>
              <i class="far fa-heart"></i></h6></div>
            <!--paper canvas-->{%if id%}
            <div class="col text-center buttton" id="info_eye_{{note.id}}"><h6>
              <i class="far fa-eye"></i></h6></div>
            <div class="col text-center button"  id="info_edit_{{note.id}}"><h6>
              <i class="far fa-edit"></i></h6></div>{%endif%}
            {% if user.is_staff %}
            <!--div class="col-sm text-right"><h6>
              {{note.id}},{{note.get_chichild_id}}
            </h6></div-->
            {% endif %}
            <div class="col text-center"><h6>
              <i class="fas fa-external-link-alt"></i>
            </h6></div>
        </div>
        <hr>
        {% include "app_note/list/objects_body.html" %}
        </div>
    </div>
</div>
{% endfor %}
