{% if codes %}
<h1>Codes</h1>
<div class="wrapper">
<div class="row flex-center">
  {% for p5 in codes %}
    <div class="col-md-6 col-lg-4">
        <div class="card news-card">
        <!-- Card video-->
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" src="{{p5.posted_frame_url}}"
            frameborder="0"
            id="iframe_{{p5.id}}",
            sandbox="allow-scripts"
            href="{%url 'p5_edit' p5.id%}"
            allowfullscreen></iframe>
        </div>
        <!-- Card content -->
        <div class="row">
          <div class="col-md-6 col-xs-6">
                <p><i class="far fa-heart" ></i>265 likes</p>
                <p><i class="fas fa-comment "></i>89 comments</p>
          </div>
          <div class="col-md-6 col-xs-6">
                <a href="{%url 'p5_edit'   p5.id%}"><p class="text-right"><i class="fas fa-pen-fancy"></i>edit</p></a>
                {% if user.id is p5.posted_user.id %}
                <a href="{%url 'p5_delete' p5.id%}"><p class="text-right"><i class="fas fa-pen-fancy"></i>delete</p></a>
                {% endif %}
          </div>
        </div>
        </div>
    </div>
  {% endfor %}
  </div>
</div>
{% else %}
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
{% endif %}
