[submodule "core/src/hooks/use-grid"]
	path = core/src/hooks/use-grid
	url = https://github.com/tseijp/use-grid
[submodule "mdmd"]
	path = mdmd
	url = https://github.com/tseijp/mdmd
[submodule "colo"]
	path = colo
	url = https://github.com/tseijp/colo
[submodule "core/src/hooks/use-book"]
	path = core/src/hooks/use-book
	url = https://github.com/tseijp/use-book
[submodule "urei"]
	path = urei
	url = https://github.com/tseijp/urei
[submodule "rmol"]
	path = rmol
	url = https://github.com/tseijp/react-mol
