
<div class="row">
    <div class="col-sm-6 text-right" >
        <div class="md-form form-sm black-textarea">
            <form method="POST">
            {% csrf_token %}
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="id_update_head_{{note.id}}"
            class="form-control form-control-sm"
            value="{%if user.id == note.posted_user.id and note.ja_head%}{{note.ja_head}}{%endif%}">
            <label for="id_update_head_{{note.id}}">title</label>
            </form>
        </div>

        <div class="md-form form-sm black-textarea">
            <form method="POST">
            {% csrf_token %}
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="id_update_tag_{{note.id}}"
            class="form-control form-control-sm"
            value="{%if note.posted_tag%}{{note.posted_tag}}{%endif%}">
            <label for="id_update_tag_{{note.id}}">tags</label>
            </form>
        </div>

        <div class="md-form form-sm black-textarea">
            <form method="POST">
            {% csrf_token %}
            <i class="fa fa-tag prefix"></i>
            <input type="text" id="id_update_img_{{note.id}}"
            class="form-control form-control-sm"
            value="{%if user.id == note.posted_user.id and note.posted_img%}{{note.posted_img}}{%endif%}">
            <label for="id_update_img_{{note.id}}">imgs</label>
            </form>
        </div>
    </div>
</div>
