
{% extends "base.html" %}
{% block "head_block" %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css"/>
  <link rel="stylesheet" href="https://static.fontawesome.com/css/fontawesome-app.css"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.2.0/css/all.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.2/paper-full.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
  <script type="text/javascript">{% include "code/ppCanvas.js" %}</script>
  <!--script type="text/javascript" canvas="p5Canvas">{% include "code/p5Canvas.js" %}</script-->
{% endblock %}
{% block "css_block" %}{% include "index/index.css" %}{% endblock %}
{% block "js_block" %}{% include "index/index.js" %}{% endblock %}

{% block "nav_block"      %}{% include "index/nav.html"      %}{% endblock %}
{% block "foot_block"     %}{% include "index/content.html"  %}{% endblock %}
{% block "message_block"  %}{% include "index/message.html"  %}{% endblock %}
{% block "body_block" %}
  <!--canvas id="p5Canvas" resize></canvas-->
  <canvas id="myCanvas" resize></canvas>
{% endblock %}
{% block "main_block" %}
{% endblock %}
