<!--by https://codepen.io/govindjha/pen/MKrYVL-->
<div id="mySidenav" class="sidenav elegant-color-dark">
      <div class="md-form">
        <form class="form-inline">
          <input class="form-control form-control-sm mr-3 w-75" type="text"
           placeholder="Search" aria-label="Search">
        </form>
      </div>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#appSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">App</a>
  <ul class="collapse list-unstyled" id="appSubmenu">
    <li><a href="{% url 'home' %}" target="_blank">
      <i class="fas fa-home fa-3x mr-3 fa-spin" style="font-size:25px"></i>home</a></li>
    <li><a href="{% url 'note' %}" target="_blank">
      <i class="fas fa-sticky-note fa-3x mr-3 fa-spin" style="font-size:25px"></i>note</a></li>
  </ul>
  <a href="#">About</a>
  {% if user.is_staff %}
  <a href="/admin">Admin</a>
  {% endif %}
  <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account</a>
  <ul class="collapse list-unstyled" id="accountSubmenu">
    <li><a href="https://twitter.com/jj1owz" target="_blank">
      <i class="fab fa-twitter fa-3x mr-3 fa-spin" style="font-size:25px"></i>twitter</a></li>
    <li><a href="https://www.facebook.com/profile.php?id=100010859981132" target="_blank">
      <i class="fab fa-facebook-f fa-3x mr-3 fa-spin" style="font-size:25px"></i>facebook</a></li>
    <li><a href="https://www.instagram.com/pkyousei" target="_blank">
      <i class="fab fa-instagram fa-3x mr-3 fa-spin" style="font-size:25px"></i>insta</a></li>
    <li><a href="https://github.com/tsei" target="_blank">
      <i class="fab fa-github fa-3x mr-3 fa-spin" style="font-size:25px"></i>github</a></li>
  </ul>
  <br>
  {% if  user.is_authenticated %}
  <a href="{% url 'logout' %}">Logout</a>
  <a href="#COMING_SOON">{{user.username}}</a>
  {% else %}
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'signup' %}">Signup</a>
  {% endif %}
</div>


<div class="d-xs-none" style="left:25px;top:0;position:absolute;cursor:pointer" onclick="openNav()">
  <div class="d-lg-none" style="font-size:50px"><i class="fas fa-align-justify"></i></div>
  <div class="d-none d-lg-block" style="font-size:75px"><i class="fas fa-align-justify"></i></div>
</div>

<div style="right:25px;top:0;position:absolute;font-size:75px;cursor:pointer"
      href="#langSubmenu" data-toggle="collapse" aria-expanded="false">
  <div class="d-lg-none" style="font-size:50px"><i class="fas fa-align-right"></i></div>
  <div class="d-none d-lg-block" style="font-size:75px"><i class="fas fa-align-right"></i></div>
<ul class="collapse list-unstyled" id="langSubmenu">
    <li><a style="color:#000" href="">Ja</a></li>
    <!--li><a style="color:#000"href="?la=en">En</a></li-->
</ul>
</div>
