# my created

/src/components/colo/*
/src/components/mdmd/*
/src/hooks/use-grid/*
/src/hooks/use-page/*
/src/hooks/use-amazon/*
!/src/components/colo/src
!/src/components/mdmd/src
!/src/hooks/use-grid/src
!/src/hooks/use-page/src
!/src/hooks/use-amazon/src

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

index.cjs.js
index.d.ts
index.js
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
