.card{position: relative;
      cursor: pointer;
      box-shadow:0 0 25px 0px rgba(0,0,0,.25);
      transition: 0.75s;
      overflow:hidden }
.card .card-body div{ width: 100%; }
.card .card-body div a{ margin:0 0px; position: relative; text-decoration: none;
      color: #526ffd; padding: 0; text-align: center; z-index: 999; font-size: 25px;}
.card {z-index: 1;}/*[ref](https://qiita.com/chieeeeno/items/83ee1c80ddfd0ff35bb8#_reference-ab2fc731c25d1a1b2c20)*/
/*
.myCanvas[mode=edit]{border-radius:25px;pointer-events:auto;position:absolute;top:0;left:0;height:700px;}
.myCanvas[mode=eyes]{border-radius:25px;pointer-events:none;position:absolute;top:0;left:0;height:700px;}
*/
