<!----------------------------------------------------------------------------->
<!--  Grids                                                                  -->
<!--code by https://codepen.io/niteshgourofficial/pen/LrXyom------------------->
{% if grids %}
<div class="row flex-center">
        {% for grid in grids %}
        <div class="col-lg-6 col-md-5 mb-5" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
                <div class="front z-depth-5 waves-effect waves-light" style="background-image: url({{grid.back}})">
                	<div class="inner">
                		{% if grid.head %}<p>{{grid.head}}</p>{% endif %}
                    {%if grid.word%}<span>{{grid.word}}</span>{% endif %}
                	</div>
                </div>
                <div class="back" style="">
                	<div class="inner">
                	  <p>{{grid.text}}</p>
                    {%if grid.note_url %}<a class="btn btn-outline-white" href="{{card.note_url}}">Detail</a>{% endif %}
                    {%if grid.work_url %}<a class="btn btn-outline-white" href="{{card.work_url}}">Link</a>{% endif %}
                    <ul class= "mb-1">
                      <li><p><strong>{{grid.blog}}</strong> blog</p></li>
                      <li><p><strong>{{grid.project}}</strong> project</p></li>
                    </ul>
                    <a class="btn btn-outline-white" href="{{grid.url}}">More(Coming soon)</a>
                  </div>
                </div>
        </div>
        </div>
        {% endfor %}
</div>
{% else %}
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
{% endif %}
