{% extends "base.html" %}
{% block "main_block" %}
<!--Carousel Wrapper-->
{% include 'carousel.html' %}
<!--/.Carousel Wrapper-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/addon/mode/overlay.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/mode/markdown/markdown.min.js"></script>
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/mode/gfm/gfm.min.js"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.18.2/addon/edit/continuelist.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
<!----------------------------------------------------------------------------->
<section class="jumbotron">
                <h1 class="jumbotron-heading">Edit    <button class="btn btn-dark btn-sm"id="origin">Update</button></h1>
                {% if user %}<p class="lead text-muted">user: {{ user.username }}</p>{% endif %}

                <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#collapse_detail" aria-expanded="false" aria-controls="collapse_detail">detail &raquo;</button>
        <div class="collapse" id="collapse_detail">
        <div class="card card-block">
                <br>
                <p></p>
                <br>
                <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#collapse_detail" aria-expanded="false" aria-controls="collapse_detail">close</button>
        </div>
        </div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="live-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Live</a></li>
                <li class="nav-item"><a class="nav-link" id="origin-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                    aria-selected="false">Origin</a></li>
                <li class="nav-item"><a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                    aria-selected="false">Test</a></li>
</ul>
<!----------------------------------------------------------------------------->
<div class="tab-content" id="myTabContent">
<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="live-tab">
<div class="row">
        <!--------------------------------------------------------------------->
        <div class="col-sm-6">
                <div id="search_results_left"></div>
                <form method="POST">
                    {% csrf_token %}
                    {% load widget_tweaks %}
                    {% for field in form %}
                        <div class="form-group rounded-0 shadow-textarea">
                          {{ field.erros }}
                          <button class="btn btn-dark btn-sm" id="reload">{{ field.label_tag }}</button>
                          {% render_field field class="form-control" %}
                        </div>
                    {% endfor %}
                </form>
        </div>
        <!--------------------------------------------------------------------->
        <div class="col-sm-6">
                <div id="search_results_right"></div>
                <button class="btn btn-dark btn-sm"id="reload"><label>reload</label></button>
                <div id="previewWrapper">
                    <div id="preview"></div>
                </div>
                <!--div class="embed-responsive embed-responsive-1by1"style="height:40%">
                      <iframe class="embed-responsive-item embed-responsive-16by9 z-depth-5"
                          src="{{object.posted_frame_url}}"
                          id = "posted_frame"
                          sandbox="allow-scripts"
                          allowfullscreen></iframe>
                </div-->
        </div>
        <!--------------------------------------------------------------------->
        <div class="col-sm-12">
                <br><hr>
                <div class="embed-responsive embed-responsive-1by1"style="height:100%">
                <iframe class="embed-responsive-item embed-responsive-16by9 z-depth-5"
                    src="{{object.update_frame_url }}"
                    id = "update_frame"
                    sandbox="allow-scripts"
                    allowfullscreen></iframe>
                </div>
        </div>
        <!--------------------------------------------------------------------->
</div>
</div>
<!----------------------------------------------------------------------------->
<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="origin-tab">
        <div class="text-left">
                <h1> {{object.posted_head}}</h1>
                <pre>{{object.posted_text}}</pre>
        </div>
</div>
<!----------------------------------------------------------------------------->
<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        <p></p>
</div>
<!----------------------------------------------------------------------------->
</div>
</section>
<script type="text/javascript">
  {% include 'app_note/note_form_edit.js' %}
</script>
{% endblock %}
