{% extends "base.html" %}
{% block "js_block" %}
    {% include "index/nav.js" %}
    {% include "index/content.js" %}
    {% include "app_mesh/link/mesh_link.js" %}
{% endblock %}

{% block "css_block" %}
    {% include "index/nav.css" %}
    {% include "index/content.css" %}
    {% include "app_mesh/link/mesh_link.css" %}
{% endblock %}

{% block "head_block" %}
<script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/etiennepinchon/aframe-material/master/dist/aframe-material.js"></script>
<script src="https://unpkg.com/aframe-animation-component@3.2.1/dist/aframe-animation-component.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
{% endblock %}

{% block "nav_block" %}{% include "index/nav.html" %}{% endblock %}
{% block "foot_block" %}<!--coming soon-->{% endblock %}

{% block "body_block" %}
{% include "app_mesh/link/mesh_link_scene.html" %}
{% endblock %}

{% block "main_block" %}
{% endblock %}
