{% extends "base.html" %}
{% block "js_block" %}
  {% include "index/nav.js" %}
  {% include "index/content.js" %}
  {% include "index/foot.js" %}
{% endblock %}
{% block "css_block" %}
  {% include "index/nav.css" %}
  {% include "index/content.css" %}
  {% include "index/foot.css" %}
{% endblock %}
{% block "nav_block" %}{% include "index/nav.html" %}{% endblock %}
{% block "main_block" %}
<!--Carousel Wrapper-->
<!--/.Carousel Wrapper-->
<br>
<div class="row">
<div class="col-md-12 blog-main">

</div>
</div>

{% endblock %}

{% block "foot_block" %}
{% include "index/content.html" %}
{% include "index/foot.html" %}
{% endblock %}
