{% extends "app_mesh/test/test_base.html" %}
{% load static %}
{% block "head_block" %}
<script src="https://dev.mavo.io/dist/mavo.js"></script>
<script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
{% endblock %}
{% block "body_block" %}
<div mv-app="aframe">
	<aside>
		<fieldset>
			<legend>Cube</legend>
			<label>X:<input type="range" min="-10" max="10" step=".1" property="maru_x" value="0">[maru_x]</label>
			<label>Y:<input type="range" min="-10" max="10" step=".1" property="maru_y" value="0">[maru_y]</label>
			<label>Z:<input type="range" min="-10" max="10" step=".1" property="maru_z" value="-3">[maru_z]</label>
			<label>Size:<input type="range" min=".01" max="10" step=".1" property="maru_s" value=".5">[maru_s]</label>
			<label>Rotate:<input type="range" min="0"   max="360"step="1"  property="maru_r" value="180"> [maru_r]°</label>
		</fieldset>
	</aside>
  <a-assets>
      <a-asset-item id="glb_maru" src="{%static 'app_mesh/maru.glb'%}"></a-asset-item>
  </a-assets>
	<a-scene>
        <a-plane position="0 0 -3" rotation="-90 0 0" width="4" height="4" color="#7BC8A4" shadow></a-plane>
        <a-sky color="#E9F2F9"></a-sky>
        <a-box position="[maru_x] [maru_y] [maru_z]" scale="1 1 1" wireframe="true"></a-box>
        <a-entity gltf-model="#glb_maru"
            src="#glb_maru"
            scale="[maru_s] [maru_s] [maru_s]"
            position="[maru_x] [maru_y] [maru_z]"
            rotation="0 [maru_r] 0"></a-entity>
      </a-scene>
</div>
{% endblock %}
