{% load static %}
<html>
<head>
<!--***********************************-->
<!--**********block head_block**********-->
<!--***********************************-->



{% block "head_block" %}{% endblock %}



<!--***********************************-->
<!--**********endblock***************-->
<!--***********************************-->
</head><body style='margin : 0px; overflow: hidden;'>
<!--***********************************-->
<!--**********block body_block**********-->
<!--***********************************-->



{% block "body_block" %}{% endblock %}



<!--***********************************-->
<!--**********endblock***************-->
<!--***********************************-->
</body>
</html>
