{% extends "base.html" %}
{% load static %}
{% load myfilters %}
{% block "head_block" %}
<!--MDB AND PAR-->
<script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/etiennepinchon/aframe-material/master/dist/aframe-material.js"></script>
<script src="https://unpkg.com/aframe-animation-component@3.2.1/dist/aframe-animation-component.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
{% endblock %}

{% block "body_block" %}
<body style='margin : 0px; overflow:hidden;'>
<a-scene embedded arjs='trackingMethod:best;'>
<a-assets>
  <!--a-asset-item id="glb_maru" src="{%static 'app_mesh/maru.glb'%}"></a-asset-item-->
  <img id="mail"      crossorigin="anonymous" src="{%static 'app_mesh/sns/mail.png'%}">
  <img id="twitter"   crossorigin="anonymous" src="{%static 'app_mesh/sns/twitter.png'%}">
  <img id="facebook"  crossorigin="anonymous" src="{%static 'app_mesh/sns/facebook.png'%}">
  <img id="instagram" crossorigin="anonymous" src="{%static 'app_mesh/sns/instagram.png'%}">
</a-assets>
<a-anchor hit-testing-enabled='true'>
    <a-entity laser-controls="hand: right"></a-entity>
    <a-entity light="type:ambient; color: #BBB"></a-entity>
    <a-entity light="type:directional; color: #AAA" position="0 2 0"></a-entity>
    {% for n,c in circ.items %}
    <a-sphere color="black" radius=".05" position="{{c.r0.x}} 0 {{c.r0.z}}"></a-sphere>
    <a-sphere color="black" radius=".01" position="{{c.r1.x}} 0 {{c.r1.z}}"></a-sphere>
    <a-sphere color="black" radius=".01" position="{{c.r2.x}} 0 {{c.r2.z}}"></a-sphere>
    <a-sphere color="black" radius=".01" position="{{c.r3.x}} 0 {{c.r3.z}}"></a-sphere>
    <a-sphere color="black" radius=".01" position="{{c.r4.x}} 0 {{c.r4.z}}"></a-sphere>
    <a-plane height="{{c.R}}" width="{{c.R}}" wireframe="True"
      position="{{c.r0.x}} 0 {{c.r0.z}}" rotation="-90 0 0"></a-plane>
    <a-circle position="{{c.x}} {{c.y}} {{c.z}}" rotation="-90 0 0" radius="{{c.R}}"
      theta-start="{{c.rot}}" theta-length="90" wireframe="True"></a-circle>
    {% endfor %}
    <a-image src="#twitter" rotation="-90 0 0" scale="0.25 0.25 0.25"
      position="{{circ.text.r1.x|addf:circ.code.r}} 0 {{circ.text.r1.z|addf:0.25}}"></a-image>

    <a-text value="Hello, World!" rotation="-90 0 0"
      position="{{circ.main.r0.x|add:'-1'}} 0 {{circ.main.r0.z|add:'-1'}}"></a-text>

    <a-button name="stuff" value="Click me" type="raised" rotation="-90 0 0"
      position="{{circ.main.r4.x}} 0 {{circ.main.r4.z|add:'-1'}}"></a-button>

</a-anchor>
<a-camera-static/>
</a-scene>
</body>
{% endblock %}
