<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" style='height:50%'>
<ol class="carousel-indicators">
  {% for c in carousel %}
  <li data-target="#carousel-example-1z" data-slide-to="{{forloop.counter0}}" class="{{c.active}}"></li>
  {% endfor }
</ol>

<div class="carousel-inner" role="listbox">
<!--First slide-->
{% for c in carousel %}
<div class="carousel-item{{ c.active }}">
<div class="view">
    <div class="embed-responsive embed-responsive-1by1" style="height:100%">
      <iframe class="embed-responsive-item" src="{{c.back}}"
      sandbox="allow-scripts" allowfullscreen></iframe>
    </div>
    <!--Video source-->
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <div class="text-center white-text mx-5 wow fadeIn">
        <h1 class="mb-4"><strong>{{c.head}}</strong></h1>
        <p><strong>{{c.text1}}</strong></p>
        {% if user.is_authenticated %}
        <p class="mb-4 d-none d-md-block"><strong>{{ user }}</strong></p>
        <a target="_blank" href="{% url 'logout' %}" class="btn btn-outline-white btn-lg">
          Logout<i class="fas fa-graduation-cap ml-2"></i></a>
        {% else %}
        <a target="_blank" href="{% url "signup" %}" class="btn btn-outline-white btn-lg">
          Free signup<i class="fas fa-graduation-cap ml-2"></i></a>
        <a target="_blank" href="/login" class="btn btn-outline-white btn-lg">
          Login<i class="fas fa-graduation-cap ml-2"></i></a>
        {% endif %}
    </div>
    </div>
    <!-- Mask & flexbox options-->
</div>
</div>
{% endfor %}



<!--Controls-->
<a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
<!--/.Controls-->
</div>
</div>
