
/*.creative_coding {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 60%;
}
.creative_coding iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/
{% include "index/nav.css" %}
{% include "index/content.css" %}
{% include "app_note/list/objects.css" %}
