{% if notes %}
<h1>Notes</h1>
<div class="row flex-center">
  {% for note in notes %}
  <div class="col-md-6 col-lg-4">
        <div class="card news-card">
        <!-- Card video-->
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item"
            src="{% url 'note_posted_frame' pk=note.id %}"
            frameborder="0"
            id="iframe_{{note.id}}"
            sandbox="allow-scripts"
            href="{%url 'note_edit' note.id%}"
            allowfullscreen></iframe>
        </div>
        <!-- Card content -->
        <div class="row">
          <div class="col-md-6 col-xs-6">
                <p><i class="far fa-heart" ></i>265 likes</p>
                <p><i class="fas fa-comment "></i>89 comments</p>
          </div>
          <div class="col-md-6 col-xs-6">
                <a href="{%url 'note_edit'   note.id%}"><p class="text-right"><i class="fas fa-pen-fancy"></i>edit</p></a>
                {% if user.id is note.posted_user.id %}
                <a href="{%url 'note_delete' note.id%}"><p class="text-right"><i class="fas fa-pen-fancy"></i>delete</p></a>
                {% endif %}
          </div>
        </div>
        </div>
  </div>
  {% endfor %}
</div>
{% else %}
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
{% endif %}
