{% extends "base.html" %}
{% block "main_block" %}
<!--Carousel Wrapper-->
{% include 'carousel.html' %}
<!--/.Carousel Wrapper-->
<div class="embed-responsive embed-responsive-1by1"style="height:300px">
                  <iframe class="embed-responsive-item" src="{{object.iframe_url}}"
                          sandbox="allow-scripts"
                          allowfullscreen></iframe>
</div>
            <form action="" enctype="multipart/form-data" method="POST">
                <h1><i class="glyphicon glyphicon-asterisk"></i> delete
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger btn-sm">delete</button>
                </h1>
            </form>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
