
  <a style="width:100%" >
  <button class="badge elegant-color-dark " style="width:100%;font-size:25px"
    id="send_message_{{note.id}}">
    Send</button></a>

<div class="row">
<div class="col-sm-2" >
    <ul class="nav nav-tabs" id="myTab-{{note.id}}" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="main-tab-{{note.id}}"  data-toggle="tab"
            href="#main-{{note.id}}"role="tab" aria-controls="main-{{note.id}}"aria-selected="true">
            <span style="font-size:25px" class="badge elegant-color-dark">
            <i class="fa fa-pencil-alt prefix"></i></span></a></li>
        <li class="nav-item"><a class="nav-link"        id="sub-tab-{{note.id}}"   data-toggle="tab"
            href="#sub-{{note.id}}" role="tab" aria-controls="sub-{{note.id}}" aria-selected="false">
            <span style="font-size:25px" class="badge elegant-color-dark">
            <i class="fa fa-tag prefix"></i></span></a></li>
        <li class="nav-item"><a class="nav-link"        id="info-tab-{{note.id}}"  data-toggle="tab"
            href="#info-{{note.id}}"role="tab" aria-controls="info-{{note.id}}"aria-selected="false">
            <span style="font-size:25px" class="badge elegant-color-dark">
            <i class="fas fa-info-circle"></i></span></a></li>
        <li class="nav-item"><a class="nav-link"        id="info-tab-{{note.id}}"  data-toggle="tab"
            href="#ret-{{note.id}}"role="tab" aria-controls="ret-{{note.id}}"aria-selected="false">
            <span style="font-size:25px" class="badge elegant-color-dark">
            <i class="fas fa-exchange-alt"></i></span></a></li>
    </ul>
</div>


<div class="col-sm-10">
<div class="tab-content" id="myTabContent-{{note.id}}">
    <div class="tab-pane fade show active" id="main-{{note.id}}"
         role="tabpanel" aria-labelledby="main-tab-{{note.id}}">

        <!--Material textarea message -->
        <div class="md-form form-sm black-textarea">
            <form method="POST">
            {% csrf_token %}
            <i class="fa fa-pencil-alt prefix"></i>
            <textarea type="text" id="id_update_text_{{note.id}}"  rows="3"
              class="md-textarea form-control">{%if user.id == note.posted_user.id and note.ja_text%}{{note.ja_text}}{%endif%}</textarea>
            <label for="id_update_text_{{note.id}}">
              {%if user.id == note.posted_user.id%}Change Text{%else%}Comment your reply{%endif%}</label>
            </form>
        </div>

    </div>

    <div class="tab-pane fade show" id="sub-{{note.id}}"
        role="tabpanel" aria-labelledby="sub-tab-{{note.id}}">
        {% include "app_note/list/objects_body_tag.html" %}
    </div>

    <div class="tab-pane fade show" id="info-{{note.id}}"
         role="tabpanel" aria-labelledby="info-tab-{{note.id}}">
         {% include "app_note/list/objects_body_info.html" %}
    </div>
    <div class="tab-pane fade show" id="ret-{{note.id}}"
         role="tabpanel" aria-labelledby="info-ret-{{note.id}}">
         {% include "app_note/list/objects_body_ret.html" %}
    </div>
</div>
</div>
</div>
