/* canvas */
/* ------------------------------all size------------------------------ */
.card{position: relative;
      cursor: pointer;
      box-shadow:0 0 25px 0px rgba(0,0,0,.25);
      transition: 0.75s;
      overflow:hidden }

.card .card-body div{ width: 100%; }
.card .card-body div a{ margin:0 0px; position: relative; text-decoration: none;
      color: #526ffd; padding: 0; text-align: center; z-index: 999; font-size: 25px;}
.card {z-index: 1;}/*[ref](https://qiita.com/chieeeeno/items/83ee1c80ddfd0ff35bb8#_reference-ab2fc731c25d1a1b2c20)*/
/*
.myCanvas[mode=edit]{border-radius:25px;pointer-events:auto;position:absolute;top:0;left:0;height:700px;}
.myCanvas[mode=eyes]{border-radius:25px;pointer-events:none;position:absolute;top:0;left:0;height:700px;}
*/
/* ------------------------------all id------------------------------ */
@media screen and (max-width: 576px) {/*xs~*/
  .card .card-body   { padding:0rem 16px 16px; height:0; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px;    font-size:16px;}
  .card .card-body p { text-align:justify; line-height:16px;    font-size:16px;}
  .card .card-body a { text-align:justify; line-height:16px;    font-size:16px;}}
@media screen and (min-width: 576px) and (max-width:768px) {/*sm, sm~md, md*/   /*!!!*/
  .card .card-body   { padding:0rem 20px 20px; height:0   ; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px;    font-size:20px;}
  .card .card-body p { text-align:justify; line-height:18px;    font-size:18px;}
  .card .card-body a { text-align:justify; line-height:18px;    font-size:18px;}}
@media screen and (min-width: 768px) {/*~xl*/
  .card .card-body   { padding:0rem 25px 25px; height:0   ; }
  .card .card-body h6{ padding:10px 0rem 0rem; margin:0 0px;    font-size:25px;}
  .card .card-body p { text-align:justify; line-height:20px;    font-size:20px;}
  .card .card-body a { text-align:justify; line-height:25px;    font-size:25px;}}

/* ------------------------------which id------------------------------ */
/* ----------list----------*/{% if not id %}
@media screen and (max-width: 576px) {/*xs~*/
  .card{  border-radius:16px; margin:16px;                       height: 500px;}
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height: 750px;}
  .card .embed-responsive{border-radius:25px;transition: 0.5s;   height: 450px;}}
@media screen and (min-width: 576px) and (max-width:768px) {/*sm, sm~md, md*/   /*!!!*/
  .card{border-radius:20px; margin:20px; width:500px;            height: 500px;}
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height: 750px;}
  .card .embed-responsive{ border-radius:25px;transition: 0.5s;  height: 450px;}}
@media screen and (min-width: 768px) {/*~xl*/
  .card{border-radius:25px; margin:25px; width:500px;            height: 500px;}
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height: 750px;}
  .card .embed-responsive{ border-radius:25px; transition:0.5s;  height: 450px;}}
/* ----------?id=?---------- */{% else %}{% if note.id %}{% else %}
@media screen and (max-width: 576px) {/*xs~*/
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height:1000px;}
  .card[mode=posted ]{border-radius:16px;margin:20px;            height: 750px;}
  .card[mode=replied]{border-radius:16px;margin:20px;            height: 250px;}
  .card[mode=replied][note-liked-num  ="0"]{                     height: 150px;}
  .card[mode=replied][note-replied-num="0"]{                     height: 150px;}
  .card .embed-responsive{ border-radius:25px; transition:0.5s;  height: 700px;}}
@media screen and (min-width: 576px) and (max-width:768px) {/*sm, sm~md, md*/  /*!!!*/
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height:1000px;}
  .card[mode=posted ]{border-radius:20px;margin:20px;width:500px;height: 750px;}
  .card[mode=replied]{border-radius:20px;margin:20px;width:500px;height: 500px;}
  .card[mode=replied][note-liked-num  ="0"]{                     height: 250px;}
  .card[mode=replied][note-replied-num="0"]{                     height: 250px;}
  .card .embed-responsive{ border-radius:25px; transition:0.5s;  height: 700px;}}
@media screen and (min-width: 768px) {/*~xl*/
  .card:hover{ box-shadow:0px 5px 6px rgba(0,0,0,0.5);           height:1000px;}
  .card[mode=posted ]{border-radius:25px;margin:25px;width:750px;height: 750px;}
  .card[mode=replied]{border-radius:25px;margin:25px;width:750px;height: 500px;}
  .card[mode=replied][note-liked-num  ="0"]{                     height: 250px;}
  .card[mode=replied][note-replied-num="0"]{                     height: 250px;}
  .card .embed-responsive{ border-radius:25px; transition:0.5s;  height: 700px;}}
{% endif %}{% endif %}
/*------------------------------------------------------------*/
